.div_menu {
background-color: black; margin-bottom: 10px;
}

.menu {
    color: white    ;
}

.slider-div {
    margin: 0 auto; text-align: center;
    /* display: flex; justify-content: center; */
}

p {
    text-align: justify;
}

footer {
    background-color: black; color: white; text-align: center;
}

.footer {
    font-weight: 900;
}

