* {
    margin: 0; padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #e8e8e8;
}
.box {
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: white;

}
.box1 {
    background-color: #06d6c1;
    order: 1;
}
.box2 {
    background-color: #06d485;
    order: 3;
}
.box3 {
    background-color: #06a0d4;
    order: 4;
}
.box4 {
    background-color: #9445a1;
    order: 5;
}
.box5 {
    background-color: #075670;
    order: 6;
}
.box6 {
    background-color: #f2c738;
    order: -1;
}
.box7 {
    background-color: #f08c29;
    order: 2;
}
.box8 {
    background-color: #f73f11;
}
.box9 {
    background-color: #a3a2a2;
}
.box10 {
    background-color: #7a7979;
}